.margin-left {
  margin-left: 210px;
}
@media (max-width: 425px) {
  .margin-left {
    margin-left: 130px;
  }
  .margin-left-icon {
    margin-left: 130px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .margin-left-icon {
    margin-left: 305px;
  }
}
